@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.max {
  max-width: 1400px;
  margin: auto;
}
/**Lien de navigation**/
#navigateur {
  display: flex;
  margin-right: 50px;
  height: 50px;
}

.nav0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}
.nav0 .activites {
  margin-left: 67px;
}
.hebergements {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-top: #ffffff 2px solid;
}

.hebergements a {
  color: black;
  text-decoration: none;
}
.hebergements:hover {
  border-top: #0065fc 2px solid;
}
.hebergements a:hover {
  color: #0065fc;
}
.activites {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  border-top: #ffffff 2px solid;
}
.activites a {
  margin-top: 15px;
  color: black;
  text-decoration: none;
}
.activites:hover {
  border-top: #0065fc 2px solid;
}

.activites a:hover {
  color: #0065fc;
}

.Booki {
  height: 19px;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.presentation h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 57px;
}
.presentation p {
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 50px;
}
.icon {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#place {
  border: 0.5px solid #f2f2f2;
  width: 230px;
  height: 49px;
  padding-left: 20px;
  outline: none;
}
.recherche ::placeholder {
  font-weight: bold;
  opacity: 1;
}
.recherche input::placeholder {
  font-size: 19px;
  line-height: 21px;
  color: black;
}
.button {
  width: 132px;
  height: 51.5px;
  padding: 15px;
  border: none;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  color: #ffffff;
  font-size: 18px;
}

.recherche {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  height: 49px;
  margin-top: 40px;
}
.recherche .button i {
  display: none;
}

.filtre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 20px;
}
.filtre .first {
  display: flex;
  flex-direction: row;
}
.filtre button {
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #d9d9d9;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 12px;
  margin-left: 15px;
}
.filtre .global {
  display: flex;
}
.filtre i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  height: 15px;
  width: 30px;
  font-size: 22px;
  margin-right: 5px;
}
.filtre .second {
  display: flex;
  flex-direction: row;
}
.filtre button:hover {
  background-color: #deebff;
}

#disponible i {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
}
#disponible {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 35px;
  margin-bottom: 39px;
}
#disponible p {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.titre2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 26px;
  margin-top: 41px;
}
.titre2 h1 {
  font-size: 22px;
  margin: 0;
  width: 219px;
}
.titre2 i {
  color: #0065fc;
  width: 18px;
  height: 14.38px;
  margin-right: 0px;
}
.lespluspopulaires {
  margin: 0;
  padding-bottom: 34px;
  background: #f2f2f2;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.populairev2 {
  display: flex;
  justify-content: center;
  width: 40%;
}

.cardlespluspopulaires {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 95%;
  height: 144px;
  margin-bottom: 10px;
  cursor: pointer;
}
.cardlespluspopulaires img {
  object-fit: cover;
  width: 110px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 20px 0px 0px 20px;
}
.cardlespluspopulaires .content p {
  color: black;
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 0;
}
.cardlespluspopulaires .content h2 {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: black;
}
.cardlespluspopulaires .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1px;
  margin-left: 10px;
}
.cardlespluspopulaires i {
  color: #0065fc;
  font-size: 12px;
}
.cardlespluspopulaires .star {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}
.cardlespluspopulaires .laststar i {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f2f2f2;
}

.cardhebergements {
  background-color: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 30%;
  height: 199px;
  padding: 4px;
  cursor: pointer;
}
.cardhebergements img {
  object-fit: cover;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
.cardhebergements .content p {
  color: black;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.cardhebergements .content h3 {
  margin: 0;
  font-size: 15px;
  margin-top: 4px;
  color: black;
}
.cardhebergements .content {
  padding-left: 7px;
  padding-right: 7px;
}
.cardhebergements i {
  color: #0065fc;
  font-size: 12px;
}
.cardhebergements .star {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardhebergements .laststar i {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f2f2f2;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.hebergementv2 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.hebergementsamarseille {
  margin: 0;
  padding-bottom: 34px;
  background: #f2f2f2;
  border-radius: 20px;
  width: 90%;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 46px;
}

.titre3 h2 {
  margin-top: 42px;
  margin-left: 0px;
}
.groupe1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.groupe2 {
  display: flex;
  justify-content: space-between;
}
.afficher a {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.groupe0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.activitesamarseille h1 {
  font-size: 22px;
  margin: 0;
  margin-top: 105px;
  margin-bottom: 30px;
}
.activitesamarseille {
  margin-left: 50px;
  margin-right: 50px;
}

.cardactivites {
  background-color: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 30%;
  height: 444.51px;
  cursor: pointer;
}
.cardactivites img {
  width: 100%;
  height: 85%;
  border-radius: 20px 20px 0px 0px;
  margin: 0;
  padding: 0 0 0 0px;
  object-fit: cover;
}
.cardactivites p {
  font-weight: bold;
  font-size: 16px;
  margin-left: 16px;
}

.groupe3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 69px;
  margin-top: 18.47px;
  gap: 20px;
}

#formulaire {
  background: #f2f2f2;
  margin-right: 50px;
  margin-left: 50px;
}
#formulaire h1 {
  font-size: 20px;
  margin-top: 45px;
}

#formulaire .content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#formulaire .content a {
  margin-bottom: 12px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.noshebergements {
  margin-left: 20%;
}
.assistance {
  margin-left: 20%;
}
.groupe4 {
  display: flex;
  margin-left: 70px;
}

/*******Responsive tablette*****/

@media screen and (max-width: 992px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }
  .hebergementv2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .filtre {
    display: block;
    margin-top: 35px;
  }
  .filtre h3 {
    margin: 0;
    margin-bottom: 20px;
  }
  .hebergementsamarseille {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 46px;
  }
  .hebergementsamarseille h2,
  a {
    margin-left: 0;
  }
  .hebergementsamarseille .content h3 {
    font-size: 14px;
  }
  .hebergementsamarseille .content p {
    font-size: 13px;
  }

  .cardhebergements .ecrit p {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 13px;
  }
  .cardhebergements .ecrit h3 {
    margin-top: 4px;
    font-size: 14px;
  }
  .lespluspopulaires .content h2 {
    font-size: 14px;
  }
  .lespluspopulaires .content p {
    font-size: 13px;
  }
  .populairev2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .lespluspopulaires {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .activitesamarseille {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
  .groupe0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .cardlespluspopulaires {
    width: 100%;
  }
  .cardlespluspopulaires img {
    width: 100px;
  }

  .titre2 {
    margin-left: 0;
  }
  .titre2 i {
    margin-right: 10px;
  }
  .cardactivites {
    height: 267px;
  }
  .cardactivites p {
    margin: 0;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .groupe4 {
    margin-left: 50px;
  }
  .noshebergements {
    margin-left: 10%;
  }
  .assistance {
    margin-left: 15%;
  }
  #formulaire {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/*****Responsive mobile*****/

@media screen and (max-width: 768px) {
  .nav0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .Booki {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .Booki img {
    width: 60px;
    height: 19px;
  }
  nav {
    display: flex;
    width: 100%;
  }
  .presentation {
    margin-left: 20px;
  }
  .presentation h1 {
    margin: 0;
  }
  .presentation p {
    margin: 0;
  }
  #navigateur {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .nav0 .activites {
    margin: 0;
  }
  .activites {
    width: 50%;
    border-bottom: 2px solid #f2f2f2;
  }
  .activites:hover {
    border-top: none;
    border-bottom: #0065fc 2px solid;
  }
  .activites a {
    margin-bottom: 23px;
    margin-top: unset;
  }
  .hebergements {
    width: 50%;
    border-bottom: 2px solid #f2f2f2;
  }
  .hebergements:hover {
    border-top: none;
    border-bottom: #0065fc 2px solid;
  }
  .hebergements a {
    margin-bottom: 23px;
  }
  .recherche {
    margin-left: 20px;
  }
  .recherche .button i {
    display: inline;
  }
  .recherche .button {
    width: 49px;
  }
  .recherche .text {
    display: none;
  }
  #place {
    width: 60%;
  }
  .reverse {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .filtre {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin: 0;
    align-items: flex-start;
    margin-top: 35px;
  }
  .filtre .global {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .filtre h3 {
    margin-left: 20px;
  }
  .filtre button {
    font-size: 11px;
    width: 100%;
    margin-left: 8px;
    margin-bottom: 17px;
    margin-right: 10px;
    height: 50px;
  }
  .filtre .first {
    width: 100%;
    margin-right: 100px;
  }
  .filtre .second {
    width: 100%;
  }
  #disponible {
    margin-left: 20px;
  }
  .populairev2 {
    width: 100%;
  }
  .titre2 {
    margin-left: 0;
  }
  .titre2 i {
    margin-right: 0px;
  }
  .lespluspopulaires {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .groupe0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .cardlespluspopulaires {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 144px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .cardlespluspopulaires img {
    object-fit: cover;
    width: 110px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
  }
  .cardlespluspopulaires .content p {
    color: black;
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 0;
  }
  .cardlespluspopulaires .content h2 {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 15px;
    color: black;
  }
  .cardlespluspopulaires .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1px;
    margin-left: 10px;
  }
  .cardlespluspopulaires i {
    color: #0065fc;
    font-size: 12px;
  }
  .cardlespluspopulaires .star {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
  }
  .cardlespluspopulaires .laststar i {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f2f2f2;
  }
  .hebergementsamarseille {
    margin-left: 20px;
    margin-right: 20px;
    background: none;
    width: 100%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hebergementv2 {
    padding: 0;
  }
  .groupe1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 10px;
  }

  .groupe2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .cardhebergements {
    width: 100%;
    margin-bottom: 12px;
  }
  .cardhebergements .ecrit p {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .cardhebergements .ecrit h3 {
    margin-top: 4px;
  }
  .afficher a {
    margin: 0;
  }
  .activitesamarseille h1 {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .activitesamarseille {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .groupe3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 90px;
  }
  .cardactivites {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    height: 199px;
  }
  .cardactivites img {
    height: 70%;
  }
  .cardactivites p {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  #formulaire {
    margin: 0;
  }
  .groupe4 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .noshebergements {
    margin: 0;
  }
  .assistance {
    margin: 0;
  }
}
